@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

body {
    /* background-color: rgb(0, 43, 54); */
    background: linear-gradient(to left, rgb(0, 43, 54)0%, rgb(0, 116, 145)100%);
    font-family: 'Noto Serif JP', serif;
    color: turquoise;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    height: 250px;
}

.btn-custom {
    background-color: turquoise;
    transition: all 0.5s;
}

.btn-custom:hover {
    transform: scale(1.1);
}